<h1>Books</h1>

{{books.length}}

<form ng-submit="update(book)">
    <input type="text" ng-model="book.title" placeholder="Title">
    <input type="text" ng-model="book.author" placeholder="Author">
    <input type="text" ng-model="book.year" placeholder="Year">
    <input type="text" ng-model="book.ISBN" placeholder="ISBN">
    <input type="submit" value="Add">
</form>

<br>
<table ng-show"books.length">
		<ul ng-repeat="book in books">

		  	<strong>Title:</strong>  {{book.title}}
		  	<br>
		  	<strong>Author:</strong> {{book.author}}
		  	<br>
		  	<strong>Year:</strong> {{book.year}}
		  	<br>
		  	<strong>ISBN:</strong> {{book.ISBN}}
		  	<button ng-click="delete(book)">Delete</button>
		</ul>

</table>
